body{
  background-color: cornflowerblue;
  padding: 15px;
  text-align: center;
}

.header {

}

.buttons {
  margin-bottom: 10px;
  margin-left: 20px;
}

.form-group{
  background-color: lightsteelblue;
  padding: 10px;
  /*text-align: center;*/
}

.form-control{
  display: inline;
  width: 200px;
  /*margin-right: 10px;
  margin-top: 10px;*/
}

.addButton{
  vertical-align: bottom;
  height: 32px;
  width: 32px;
  margin-left: 10px;
  margin-right: -40px;
  /*margin-right :10px;*/
}

.lMargin1{
  margin-left: -95px;
}

.lMargin2{
  margin-right: 5px;
}

.addMultiList{
  list-style: none;
}

.short-input{
  width: 60px;
}

.short-md-input{
  width: 100px;
}

.md-long-input{
  width: 250px;
}

.long-input{
  width: 300px;
}

#addNew{
  font-weight: bold;
  text-align: center;
}

.submitBtn{
  text-align: center;
  margin-top:10px;
}

.jumbotron{
  text-align: center;
  background-color: cornsilk;
  height: 200px;
}

.well{
  text-align: center;
  background-color: mintcream;
  height: 200px;
}

h2, h1{
    font-weight: bold;
}

.input-lower{
  text-align: center;
  margin: 10px;
}

.btn-removeBookByTitle{

}

.btn-removeBookByAuthor{

}

.btn-getRandomBook{

}

.btn-getBookByTitle{

}

.btn-getBooksByAuthor{

}

.btn-addBooks{

}

.btn-getAuthors{

}

.btn-getRandomAuthorName{

}

.btn-getSeries{

}

.btn-getSeriesInOrder{

}

hr{
  padding: 0px;
}

.shelf{
  text-align: left;;
}
